@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Oranienbaum&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
  scroll-padding-top: 77px !important;
}

@media (min-width: 924px) {
	html {
		scroll-padding-top: 118px !important;
	}
}

a {
	text-decoration: none;
}

body {
	font-family: 'Oranienbaum', sans-serif;
}

.header-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	background: #fff;
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
	font-family: 'Great Vibes', sans-serif;
}

.burger-menu {
	position: fixed;
	top: 0;
	right: 0;
	padding: 24px;
	height: 100%;
	/* width: 25%; */
	background: #fff;
	z-index: 10;
	box-shadow: 0px 0px 0px 0.8px rgba(0, 0, 0, 0.2);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;

	font-size: 34px;

	font-family: 'Great Vibes', sans-serif !important;
}

.main-text {
	font-family: 'Great Vibes', sans-serif !important;
}

#map,
#programm,
#clother,
#heshtag,
#washes {
	margin: 0 15px;
}

.close-btn {
	position: absolute;
	top: 20px;
	left: 20px;

	width: 30px;
	height: 30px;
	font-weight: 600;

	font-size: 42px;
	font-family: Arial, Helvetica, sans-serif;
}

/* main */

.bg-photo {
	background-image: url('./assets/main.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	object-fit: cover;
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;

	gap: 10px;

	padding-bottom: 74px;

	h1 {
		font-family: 'sans-serif' !important;
		color: #fff;
		font-weight: 600;
	}

	span {
		color: #fff;
	}
}

.touch {
	position: absolute;
	top: 50%;
	left: calc((100% - 330px) / 2);
	display: flex;
	justify-content: center;
	text-align: center;
}

@media (min-width: 924px) {
	.bg-photo {
		background-image: url('./assets/1comp.jpg');
		background-position: top center;
	}
	
	.board {
		width: 50%;
		height: 300px;
		object-fit: cover;
	}

	.sore img {
		height: 250px !important;
		width: 100%;
		object-fit: cover;
	}

	.programm {
		width: 500px;
		margin-left: calc(65% - 500px) !important;
		align-items: center !important;
	}
}

@media (max-width: 924px) {
	.burger-menu {
		width: 90% !important;
	}

	.menus button img {
		width: 24px !important;
		height: 24px !important;
	}
}

.invite-container {
	margin: 52px 20px;
}

.programm {
	margin: 22px 20px;
}

hr {
	width: 55%;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 2px;
}

@media (max-width: 924px) {
	.sore img {
		height: 150px;
		width: 100%;
		object-fit: cover;
	}
}

.card {
	position: relative;
}

.sore:nth-child(2) {
	float: right;
}

.arrow {
	width: 60px;
	height: 100px;
	rotate: 300deg;
	position: absolute;
	bottom: -1px;
	right: 0;
}

.arrowLeft {
	rotate: 180deg;
	left: 0 !important;
} 

.arrowRight {
	rotate: 10deg;
}

.sore:nth-child(2n) {
	margin-left: 80px;
}

.kub {
	border-radius: 100%;
	width: 40px;
	height: 40px;
}

.c1 {
	background-color: #eeeeee;
}
.c2 {
	background-color: #fbe0e0;
}
.c3 {
	background-color: #e5d4ef;
}
.c4 {
	background-color: #cceeff;

}
.c5 {
	background-color: #d7f9f8;
}


.c6 {
	background-color: #c7e6db;
}
.c7 {
	background-color: #fcf4dd;
}
.c8 {
	background-color: #ffd8be;
}
.c9 {
	background-color: #e9cec5;
}

.timer-container {
	background-image: url('./assets/timer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	object-fit: cover;
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;

	gap: 10px;

	padding-bottom: 60px;
	z-index: 90;
	color: #fff;

	.time {
		width: 20%;
		display: flex;
		margin-right: 5%;
		span {
			font-size: 20px;
			/* font-family: "Arial"; */
		}

		h2 {
			font-size: 50px;
		}

		&:nth-child(1) {
			margin-left: 5%;
		}

	}
}

@media (min-width: 924px) {
	.timer-container {
		background-image: url('./assets/2comp.jpg') !important;
		background-position: center end;
		color: #ffffff;
		/* font-weight: 700; */
	}

	iframe {
		width: 40% !important;
	}

}

.text-heshtag {
	font-size: 44px;
}